<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AntiCMSP Browser</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>
<body>
    <div class="logo">AntiCMSP Browser</div>
    <div class="search-container">
        <input type="text" class="search-bar" placeholder="Digite sua pesquisa...">
        <div class="buttons">
            <button class="button" id="search">Pesquisar</button>
            <button class="button" id="im-feeling-lucky">Estou com sorte</button>
        </div>
        <div class="engine-info">
            Motor de busca atual: <span class="engine-link" id="engine-name">DuckDuckGo</span>
        </div>
    </div>
    <div class="theme-toggle" id="theme-toggle">
        <i class="fa-solid fa-circle-half-stroke" style="color: white;"></i>
    </div>

    <div class="modal" id="engine-modal">
        <div class="modal-header">Escolha o motor de busca</div>
        <select class="modal-select" id="engine-select">
            <option value="Google">Google</option>
            <option value="Yahoo!">Yahoo!</option>
            <option value="Bing">Bing</option>
            <option value="DuckDuckGo">DuckDuckGo</option>
        </select>
        <div class="modal-buttons">
            <button class="modal-button" id="cancel-button">Cancelar</button>
            <button class="modal-button" id="save-button">Salvar</button>
        </div>
    </div>

    <script src="./assets/scripts/main.js"></script>
</body>
</html>
